@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght&display=swap');
html{
  font-size: 1vw;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

@media  screen and (max-width:500px) {
  html{
    font-size: 3vw;
  }
}

.logo {
  font-family: 'Great Vibes', cursive;
font-family: 'Orbitron', sans-serif;
}